button {
    padding: 9px 12px;
    border-radius: 9999px;
    background: #3d54ff;
    color: #fff;
    font-size: 1em;
    border: none 1px;
}

button .icon{
    background: none;
    color: #000;
}
